<?php
namespace Deployer;

require_once(__DIR__ . '/vendor/xima/xima-deployer-tools/deployer/drupal/autoload.php');
require_once(__DIR__ . '/vendor/xima/xima-deployer-tools/deployer/feature/autoload.php');

/**
 * Hosts
 */
import('.deployment/deployer/hosts.yaml');

/**
 * Config
 */
set('app_path', '.');

// cleanup db backups in prod env
set('prod_db_name', 'about_drupal');

/**
 * Feature Branch Deployment
 */
set('project', 'mysite');

set('feature_templates', [
    __DIR__ . '/.deployment/deployer/templates/.env.dist' => '/shared/.env',
    __DIR__ . '/.deployment/deployer/templates/drush.local.yml.dist' => '/shared/drush/drush.local.yml',
    __DIR__ . '/.deployment/deployer/templates/settings.local.php.dist' => '/shared/web/sites/default/settings.local.php',
]);

// disable sync tools because we have drush in drupal context
set('feature_sync_config', null);
set('db_sync_tool', false);
set('file_sync_tool', false);

set('rsync-files-exclude', [
    'css',
    'js',
    'languages',
    'styles',
    'tmp',
]);

/**
 * Feature Url Shortener
 */
set('feature_url_shortener', true);

/**
 * Feature Notification
 */
set('msteams_webhook', 'https://ximamediagmbh.webhook.office.com/webhookb2/f79b879d-4bb3-4049-9490-4956324e5b99@890938ce-3232-42b7-981d-9a7cbe37a475/IncomingWebhook/ae5cc60b08ac47ddba46c7fe80957796/1e2cd912-1f24-43e6-b5ca-f23d55dc4ae8');

/**
 * Feature Index
 */
set('feature_index_title', 'mysite');
set('feature_index_app_path', '');

set('feature_index_additional_links', [
    'My domain' => 'https://example.org'
]);

// set fetch method for clear fe cache
set('fetch_method', 'curl');
