<?php
namespace Deployer;

require_once(__DIR__ . '/vendor/xima/xima-deployer-tools/deployer/drupal/autoload.php');
require_once(__DIR__ . '/vendor/xima/xima-deployer-tools/deployer/feature/autoload.php');

/**
 * Hosts
 */
import('.deployment/deployer/hosts.yaml');

/**
 * Config
 */
set('app_path', '.');

// cleanup db backups in prod env
set('prod_db_name', 'my_db_name');

/**
 * Feature Branch Deployment
 */
set('project', 'mysite');

set('feature_templates', [
    __DIR__ . '/.deployment/deployer/templates/.env.dist' => '/shared/.env',
    __DIR__ . '/.deployment/deployer/templates/drush.local.yml.dist' => '/shared/drush/drush.local.yml',
    __DIR__ . '/.deployment/deployer/templates/settings.local.php.dist' => '/shared/web/sites/default/settings.local.php',
]);

// set drush sync source
set('db_sync_source', 'example');

// disable sync tools because we have drush in drupal context
set('feature_sync_config', null);
set('db_sync_tool', false);
set('file_sync_tool', false);

set('rsync-files-exclude', [
    'css',
    'js',
    'languages',
    'styles',
    'tmp',
]);

// set fetch method for clear fe cache
set('fetch_method', 'curl');
